@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500;600');

$primary-color: #551B76;
$text-primary-color: #23315A;
$text-secondary-color: #727A92;
$text-contrast-color: #FFF;
$success-color: #3A8D11;
$warn-color: #FF9800;
$button-border-radius: 4px;

body {
  margin: 0;
  font-family: Kanit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: column;
  max-width: 1200px;  
  height: 100vh;
  min-height: 600px;
  margin: 0 auto;

  .header {
    display: flex;
    padding: 12px;
    align-items: center;
    justify-content: space-between;

    .nav {
      display: flex;
      gap: 8px;
    }
  }

  .content {
    flex: 1;
    padding: 24px 12px;
    border-top: 1px solid $text-secondary-color;
    border-bottom: 1px solid $text-secondary-color;
    color: $text-secondary-color;

    h1 {
      margin: 0;
      font-size: 24px;
      font-weight: 600;
      color: $text-primary-color;
    }

    h5 {
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      color: $text-primary-color;
    }

    .success {
      color: $success-color;
    }

    .warn {
      color: $warn-color;
    }

    .profile {
      div {
        word-break: break-all;
        padding-bottom: 4px;
      }
    }
  }

  .footer {
    display: flex;
    padding: 24px;
    align-items: center;
    justify-content: center;
    color: $text-secondary-color;
  }
}

button {
  height: 38px;
  padding: 0 20px;  
  color: $text-contrast-color;
  border: none;
  background-color: $primary-color;
  border-radius: $button-border-radius;
  font-family: Kanit;
  font-size: 14px;
  font-weight: 400;
  line-height: 38px;
  cursor: pointer;
}

/*
  Status styles
*/

.status {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  .content {
    font-size: 16px;
    font-weight: 600;
    color: $text-primary-color;
  }
}

